$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?c2a1a655c83f67a761eb0c5593ec18f5") format("truetype"),
url("./flaticon.woff?c2a1a655c83f67a761eb0c5593ec18f5") format("woff"),
url("./flaticon.woff2?c2a1a655c83f67a761eb0c5593ec18f5") format("woff2"),
url("./flaticon.eot?c2a1a655c83f67a761eb0c5593ec18f5#iefix") format("embedded-opentype"),
url("./flaticon.svg?c2a1a655c83f67a761eb0c5593ec18f5#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "arrival": "\f101",
    "call-1": "\f102",
    "call": "\f103",
    "diamond-1": "\f104",
    "diamond": "\f105",
    "envelope": "\f106",
    "facebook": "\f107",
    "flag": "\f108",
    "gps": "\f109",
    "half-filled-rating-star": "\f10a",
    "instagram-1": "\f10b",
    "instagram-2": "\f10c",
    "instagram": "\f10d",
    "layers-1": "\f10e",
    "layers": "\f10f",
    "layout": "\f110",
    "left-quote": "\f111",
    "left-quotes-sign": "\f112",
    "light-bolt": "\f113",
    "linkedin-1": "\f114",
    "linkedin-logo": "\f115",
    "linkedin": "\f116",
    "location-mark": "\f117",
    "location": "\f118",
    "mail": "\f119",
    "map-marker": "\f11a",
    "message": "\f11b",
    "next-page": "\f11c",
    "paintbrush": "\f11d",
    "phone-call-1": "\f11e",
    "phone-call-2": "\f11f",
    "phone-call-3": "\f120",
    "phone-call": "\f121",
    "phone-numbers-call": "\f122",
    "phone": "\f123",
    "placeholder": "\f124",
    "recycle-1": "\f125",
    "recycle": "\f126",
    "right-1": "\f127",
    "right-arrow-1": "\f128",
    "right-arrow-2": "\f129",
    "right-arrow-3": "\f12a",
    "right-arrow-circular-button-outline": "\f12b",
    "right-arrow-from-a-circle": "\f12c",
    "right-arrow": "\f12d",
    "right-chevron-with-circle": "\f12e",
    "right-quotation-sign": "\f12f",
    "right-quote": "\f130",
    "right": "\f131",
    "rocket": "\f132",
    "shuttle": "\f133",
    "star-filled-fivepointed-shape": "\f134",
    "star-half-filled-1": "\f135",
    "star-half-filled": "\f136",
    "sugar": "\f137",
    "telephone-1": "\f138",
    "telephone-2": "\f139",
    "telephone": "\f13a",
    "twitter-1": "\f13b",
    "twitter-2": "\f13c",
    "twitter-3": "\f13d",
    "twitter": "\f13e",
    "youtube-1": "\f13f",
    "youtube": "\f140",
);

.flaticon-arrival:before {
    content: map-get($flaticon-map, "arrival");
}
.flaticon-call-1:before {
    content: map-get($flaticon-map, "call-1");
}
.flaticon-call:before {
    content: map-get($flaticon-map, "call");
}
.flaticon-diamond-1:before {
    content: map-get($flaticon-map, "diamond-1");
}
.flaticon-diamond:before {
    content: map-get($flaticon-map, "diamond");
}
.flaticon-envelope:before {
    content: map-get($flaticon-map, "envelope");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-flag:before {
    content: map-get($flaticon-map, "flag");
}
.flaticon-gps:before {
    content: map-get($flaticon-map, "gps");
}
.flaticon-half-filled-rating-star:before {
    content: map-get($flaticon-map, "half-filled-rating-star");
}
.flaticon-instagram-1:before {
    content: map-get($flaticon-map, "instagram-1");
}
.flaticon-instagram-2:before {
    content: map-get($flaticon-map, "instagram-2");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-layers-1:before {
    content: map-get($flaticon-map, "layers-1");
}
.flaticon-layers:before {
    content: map-get($flaticon-map, "layers");
}
.flaticon-layout:before {
    content: map-get($flaticon-map, "layout");
}
.flaticon-left-quote:before {
    content: map-get($flaticon-map, "left-quote");
}
.flaticon-left-quotes-sign:before {
    content: map-get($flaticon-map, "left-quotes-sign");
}
.flaticon-light-bolt:before {
    content: map-get($flaticon-map, "light-bolt");
}
.flaticon-linkedin-1:before {
    content: map-get($flaticon-map, "linkedin-1");
}
.flaticon-linkedin-logo:before {
    content: map-get($flaticon-map, "linkedin-logo");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-location-mark:before {
    content: map-get($flaticon-map, "location-mark");
}
.flaticon-location:before {
    content: map-get($flaticon-map, "location");
}
.flaticon-mail:before {
    content: map-get($flaticon-map, "mail");
}
.flaticon-map-marker:before {
    content: map-get($flaticon-map, "map-marker");
}
.flaticon-message:before {
    content: map-get($flaticon-map, "message");
}
.flaticon-next-page:before {
    content: map-get($flaticon-map, "next-page");
}
.flaticon-paintbrush:before {
    content: map-get($flaticon-map, "paintbrush");
}
.flaticon-phone-call-1:before {
    content: map-get($flaticon-map, "phone-call-1");
}
.flaticon-phone-call-2:before {
    content: map-get($flaticon-map, "phone-call-2");
}
.flaticon-phone-call-3:before {
    content: map-get($flaticon-map, "phone-call-3");
}
.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
.flaticon-phone-numbers-call:before {
    content: map-get($flaticon-map, "phone-numbers-call");
}
.flaticon-phone:before {
    content: map-get($flaticon-map, "phone");
}
.flaticon-placeholder:before {
    content: map-get($flaticon-map, "placeholder");
}
.flaticon-recycle-1:before {
    content: map-get($flaticon-map, "recycle-1");
}
.flaticon-recycle:before {
    content: map-get($flaticon-map, "recycle");
}
.flaticon-right-1:before {
    content: map-get($flaticon-map, "right-1");
}
.flaticon-right-arrow-1:before {
    content: map-get($flaticon-map, "right-arrow-1");
}
.flaticon-right-arrow-2:before {
    content: map-get($flaticon-map, "right-arrow-2");
}
.flaticon-right-arrow-3:before {
    content: map-get($flaticon-map, "right-arrow-3");
}
.flaticon-right-arrow-circular-button-outline:before {
    content: map-get($flaticon-map, "right-arrow-circular-button-outline");
}
.flaticon-right-arrow-from-a-circle:before {
    content: map-get($flaticon-map, "right-arrow-from-a-circle");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-right-chevron-with-circle:before {
    content: map-get($flaticon-map, "right-chevron-with-circle");
}
.flaticon-right-quotation-sign:before {
    content: map-get($flaticon-map, "right-quotation-sign");
}
.flaticon-right-quote:before {
    content: map-get($flaticon-map, "right-quote");
}
.flaticon-right:before {
    content: map-get($flaticon-map, "right");
}
.flaticon-rocket:before {
    content: map-get($flaticon-map, "rocket");
}
.flaticon-shuttle:before {
    content: map-get($flaticon-map, "shuttle");
}
.flaticon-star-filled-fivepointed-shape:before {
    content: map-get($flaticon-map, "star-filled-fivepointed-shape");
}
.flaticon-star-half-filled-1:before {
    content: map-get($flaticon-map, "star-half-filled-1");
}
.flaticon-star-half-filled:before {
    content: map-get($flaticon-map, "star-half-filled");
}
.flaticon-sugar:before {
    content: map-get($flaticon-map, "sugar");
}
.flaticon-telephone-1:before {
    content: map-get($flaticon-map, "telephone-1");
}
.flaticon-telephone-2:before {
    content: map-get($flaticon-map, "telephone-2");
}
.flaticon-telephone:before {
    content: map-get($flaticon-map, "telephone");
}
.flaticon-twitter-1:before {
    content: map-get($flaticon-map, "twitter-1");
}
.flaticon-twitter-2:before {
    content: map-get($flaticon-map, "twitter-2");
}
.flaticon-twitter-3:before {
    content: map-get($flaticon-map, "twitter-3");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-youtube-1:before {
    content: map-get($flaticon-map, "youtube-1");
}
.flaticon-youtube:before {
    content: map-get($flaticon-map, "youtube");
}
